@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Iran;
  src: url(./Fonts/Iranian\ Sans.ttf);
}
@font-face {
  font-family: babas-neue;
  src: url(./Fonts/Bebas\ Neue\ Pro\ Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Iran;
}
nav .title {
  font-family: babas-neue;
}

nav .Search-box input:focus {
  width: 100%;
}

nav .login-btn a {
  box-shadow: -2px 3px 8px 2px rgb(88, 73, 52);
}
nav .login-btn :active {
  @apply bg-yellow-800 bg-opacity-80;
}
header .menu, .products .header{
  border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  line-height: normal;
}
header .menu a , .products .header a{
  
    @apply leading-normal text-xs sm:text-sm md:text-base lg:text-lg border-b-2 hover:border-darkBrown  font-semibold text-darkBrown hover:text-gray-800;
}

.slider-btns .slider-btn{
  @apply hover:bg-opacity-40;
}
.slider-btns .slider-btn:active{
  @apply bg-opacity-20;
}

.products .images {
  height: 50vh;
}
@media (min-width:640px) {
  .products .images {
    height: 50vh;
  }
  
}
@media  (min-width:768px) {
  .products .images {
    height: 60vh;
  }
  
}
@media  (min-width:1024px) {
  .products .images {
    height: 80vh;
  }
  
}